export POOL_SIZE=10
export SECRET_KEY_BASE="N6QECaaat5cDhHPQFu8u8j8T/wVSmYJoYlmf7EH+3Tm706NFWYOu9bWB8s2Nqa+T"
export DATABASE_URL="postgres://postgres:postgres@localhost:5432/handan_dev"
export EVENT_STORE_URL="postgres://postgres:postgres@localhost:5432/handan_eventstore_dev"
export PHX_SERVER=true
